/**
	Author: Steve Whitmore
	URL: https://swhitmore.com
**/

$dark-blue: #252934;
$lighter-blue: #3d424a;
$bright-green: #02b802;

%flexit {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  position: relative;
}

body {
  font-family: 'Roboto', sans-serif;
  display: block;
  font-size: 16px;
  cursor: default;
  background-color: $dark-blue;
}

.container {
  @extend %flexit;
  flex-direction: column;
  height: 100vh;
  width: 100%;

  #intro-text {
    text-align: center;

    h1 {
      font-size: 3.2rem;
      color: $bright-green;
      font-family: 'Reem Kufi', sans-serif;
      font-size: 3.75em;
      font-weight: 600;
      line-height: 1em;
    }

    #description {
      @extend %flexit;
      position: relative;
      min-height: 66px;
      overflow: hidden;

      p {
        position: absolute;
        color: #fff;
        font-size: 1.5rem;
        transition: 0.5s top ease;
        top: 100px;
        margin: 1.5rem 0;
        font-weight: 100;
      }

      #me-desc {
        top: 0;
      }
    }

  }

  #social-wrap {
    @extend %flexit;
    list-style-type: none;
    flex-wrap: wrap;

    a {
      font-size: 1.75rem;
      color: #fff;
      text-decoration: none;
      margin: 10px;
      line-height: 1;

      &:hover {
        svg {
          path {
            fill: $bright-green;
          }
        }
      }

      svg {
        width: 40px;
        height: 40px;

        path {
          transition: 0.5s all ease;
          fill: #fff;
        }
      }
    }
  }

}

@media (max-width: 450px) {
  .container {

    #intro-text {
      h1 {
        font-size: 2.2rem;
      }

      #description {
        p {
          font-size: 1rem;
        }
      }
    }

    #social-wrap {
      flex-wrap: wrap;
    }

  }
}
