/**
	Author: Steve Whitmore
	URL: http://swhitmore.com
**/
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(./fonts/materialdesignicons-webfont.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(./fonts/materialdesignicons-webfont.woff2) format('woff2'),
      url(./fonts/materialdesignicons-webfont.woff) format('woff'),
      url(./fonts/materialdesignicons-webfont.ttf) format('truetype');
  }
@import url('https://fonts.googleapis.com/css?family=Raleway:400,600');

$primary: #02b802;
$secondary: #02b8b5;
$purple: #b8025d;
// $primary: #1be33f;
// $primary: #e31b6e;
// $secondary: #e3571b;
// $secondary: #e31b6e;
// $secondary: #1be33f;

$black: #1B242F;
$blue: #304454;

$red: #b24147;
$slate: #252934;
$gray: #616161;

@mixin accordion-button {
    color: #fff;
    background-color: $primary;
    border-bottom: 1px solid $primary; 
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    position: relative;
}
html,
body {
    width: 100%;
    height: 100%;
}
body {
    font-family: 'Raleway', sans-serif;
    display: block;
    font-size: 16px;
    cursor: default;
}
h1, h2, h3 {
    font: inherit;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
}

.heading {
    display: flex;
    justify-content: center;
    flex-flow: column;
    h2 {
        font-size: 2rem;
        color: $gray;
        font-weight: 600;
    }
    .line {
        width: 75px;
        height: 4px;
        background-color: $gray;
        align-self: center;
        margin: 25px 0 75px;
    }
}

.container {
    overflow-x: hidden;
}

.flex, // !!!!!!!
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center {
    text-align: center;
}

section {
    padding:80px;
}

.highlight {
    color: $primary;
}

button {
    display: flex;
    background: transparent;
    font-size: 1.15rem;
    font-family: inherit;
    cursor: pointer;
    transition: 0.5s all ease;
    &:hover,
    &:focus {
        outline: none;
    }
}

header {
    padding: 0 10px;
    color: #fff;
    // height: calc(100vh + 53px);
    height: 100vh;
    #home-backdrop {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100%;
        background-color: $slate;
        i {
            position: absolute;
            transform: rotate(90deg);
        }
    }
    #intro {
        #intro-text {
            font-weight: 400;
            margin-bottom: 1.5rem;
            h1 {
                font-size: 3rem;
                line-height: 4rem;
                .highlight {
                    font-weight: 600;
                }
            }
            p {
                font-size: 2rem;
            }
        }
        a#view-work {
            display: flex;
            background: transparent;
            color: #fff; //duplicate
            text-decoration: none; //duplicate
            font-size: 1.25rem;
            font-family: inherit;
            border: 2px solid #fff;
            padding: 12px 20px;
            cursor: pointer;
            transition: 0.5s all ease;
            i {
                margin-left: 10px;
                font-size: 1.15rem !important;
                line-height: 1.5rem;
                transition: 0.5s all ease;
            }
            &:hover,
            &:focus {
                background-color: $primary;
                border-color: $primary;
                outline: none;
                i {
                    transform: rotate(90deg);
                }
            }
        }
    }    
} 

.inner {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

nav {
    justify-content: flex-start;
    background-color: $black;
    border-bottom: 3px solid $secondary;
    #nav-inner {
        width: 100%;
        max-width: 1200px;
        ul {
            display: flex;  // duplicate  
            flex-direction: row;
            list-style-type: none;
            align-self: flex-start;
            li {
                margin: 15px 0;
                max-width: 100px;
                a {
                    color: #fff;
                    text-decoration: none;
                    padding: 15px 25px;
                    transition: 0.5s color ease;
                    &:hover {
                        color: $primary;
                    }
                }
            }
            li.active {
                a {
                    color: $primary;
                }
            }
        }
    }    
}
#about {
    color: #fff;
    .hex-outer {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 100px;
        .hex-wrap {
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
            margin: 0 15px;
            align-items: center;
            .hexagon {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100px;
                width: 60px;
                font-size: 3rem;
                background-color: $purple;
                &:before,
                &:after {
                    position: absolute;
                    top: 0;
                    right: -30px;
                    content: '';
                    border-top: 50px solid transparent;
                    border-bottom: 50px solid transparent;
                    border-left: 30px solid $purple;
                    width: 0;
                    height: 0;
                }
                &:after {
                    left: -30px;
                    border-left: none;
                    border-right: 30px solid $purple;
                }
            }
        }
    }
    #about-main {
        display: flex;
        > div {
            width: 50%;
        }
        #short-bio {
            strong,
            p {
                margin-bottom: 15px;
            }
        }
        ul {
            display: flex;  // duplicate  
            flex-direction: row;
            list-style-type: none;
            align-self: flex-start;
            flex-wrap: wrap;
            li {
                background-color: $secondary;
                font-weight: 600;
                padding: 5px;
                margin: 5px;
                margin-left: 0;
            }
        }
    }
    span {
        color: $gray;
        strong {
            display: block;
            font-size: 1.5rem;
            margin: 15px 0 5px 0;
        }
        a {
            color: $secondary;
            text-decoration: none;
            &:hover {
                color: $primary;
            }
        }
    }
    #my-skillset {
        margin-left: 50px;
        .skill-wrapper {
            &:last-child {
                button {
                    border: none;
                }                
            }
        }
        .skill-wrapper.expanded {
            margin-bottom: 15px;
            button {
                @include accordion-button;
                i {
                    transform: rotate(90deg);
                }
            }
            ul {
                margin-top: 10px;
                max-height: 300px;
            }
        }
        button {
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding: 10px;
            font-weight: 600;
            color: #616161;
            border-bottom: 1px solid #e4e4e4;
            i {
                margin-left: 10px;
                transition: 0.5s transform ease;
            }
            &:hover {                
                @include accordion-button;
            }
        }
        ul {
            max-height: 0;
            overflow: hidden;
            transition: 0.5s all ease;
            li {
                cursor: default;
                &:hover {
                    background-color: $primary;
                }
            }
        }
    }
}



#portfolio {
    background-color: #f5f5f5;
    #portfolio-inner {
        flex-direction: row; //!!!!!!!
        flex-wrap: wrap;
        #portfolio-thumbs {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
        .portfolio-single-wrapper {
            position: relative;
            color: $slate;
            &:hover {
                .overlay {
                    opacity: 1;
                }
            }
            .overlay {
                position: absolute;
                top: 0;
                left: 0;
                background-color: rgba(255,255,255,1);
                z-index: 2;
                width: 100%;
                height: 300px;
                transition: 0.5s opacity ease;
                opacity: 0;
                &:hover {
                    .description {
                        top: 25%;
                    }
                    .learn-more-link {
                        bottom: 25%;
                    }
                }
                > div {
                    position: absolute;
                    display: block;
                    width: 100%
                }
                .description {
                    top: 0;
                    transition: 0.5s top ease;
                    font-size: 1.5rem;
                    span {
                        color: $purple;
                        font-size: 1.15rem;
                    }
                }
                .learn-more-link {
                    bottom: 0;
                    transition: 0.5s bottom ease;
                    a {
                        display: block;
                        margin: 0 auto;
                        width: 180px;
                        color: $slate;
                        text-decoration: none; //duplicate
                        font-size: 1.25rem;
                        font-family: inherit;
                        border: 2px solid $purple;
                        padding: 8px 16px;
                        cursor: pointer;
                        transition: 0.5s all ease;
                        &:hover,
                        &:focus {
                            background-color: $purple;
                            border-color: $purple;
                            color: #fff;
                            outline: none;
                        }
                    }
                }
            }
            /*temp*/
            position: relative;
            color: #252934;
            width: 400px;
            height: 300px;
            img {
                width: 400px;
                height: 300px;
            }
        }
    }
}

#testimonials {
    color: $slate;
    ul {
        list-style-type: none;
        hr {
            height: 1px;
            background-color: #02b8b5;
            margin: 1rem 0;
        }
        span {
            text-align: right;
            display: block;
            a {
                color: #02b8b5; //duplicate
                text-decoration: none; //duplicate
            }
        }
    }
}


footer {
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    background-color: $slate;
    #footer-inner {
        a#scroll-top {
            position: absolute;
            top: -25px;
            left: 50%;
            margin-left: -25px;
            padding: 0 0.25rem;
            font-size: 2.75rem;
            color: #fff;
            background-color: $secondary;
            text-decoration: none;
            &:hover,
            &:focus {
                background-color: $primary;
            }
        }
        #social-wrap { //duplicate
            display: flex;
            margin: 75px 0 50px;
            flex-direction: row;
            list-style-type: none;
            align-self: flex-start;
            a {
                font-size: 1.75rem;
                color: #fff;
                text-decoration: none;
                padding: 15px 25px;
                background-color: #2e333a;
                margin: 10px;
                transition: 0.5s all ease;
                &:hover,
                &:focus {
                    background-color: $primary;
                }
            }
        }
        #mine {
            color: #67696d;
            margin-bottom: 50px;
            span {
                color: $purple;
            }
        }
    }
}
