/**
	Author: Steve Whitmore
	URL: http://swhitmore.com
**/
@import url("https://fonts.googleapis.com/css?family=Raleway:400,600");
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/materialdesignicons-webfont.eot);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(./fonts/materialdesignicons-webfont.woff2) format("woff2"), url(./fonts/materialdesignicons-webfont.woff) format("woff"), url(./fonts/materialdesignicons-webfont.ttf) format("truetype"); }
* {
  margin: 0;
  padding: 0;
  border: 0;
  position: relative; }

html,
body {
  width: 100%;
  height: 100%; }

body {
  font-family: 'Raleway', sans-serif;
  display: block;
  font-size: 16px;
  cursor: default; }

h1, h2, h3 {
  font: inherit; }

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9; }

.heading {
  display: flex;
  justify-content: center;
  flex-flow: column; }
  .heading h2 {
    font-size: 2rem;
    color: #616161;
    font-weight: 600; }
  .heading .line {
    width: 75px;
    height: 4px;
    background-color: #616161;
    align-self: center;
    margin: 25px 0 75px; }

.container {
  overflow-x: hidden; }

.flex,
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.center {
  text-align: center; }

section {
  padding: 80px; }

.highlight {
  color: #02b802; }

button {
  display: flex;
  background: transparent;
  font-size: 1.15rem;
  font-family: inherit;
  cursor: pointer;
  transition: 0.5s all ease; }
  button:hover, button:focus {
    outline: none; }

header {
  padding: 0 10px;
  color: #fff;
  height: 100vh; }
  header #home-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-color: #252934; }
    header #home-backdrop i {
      position: absolute;
      transform: rotate(90deg); }
  header #intro #intro-text {
    font-weight: 400;
    margin-bottom: 1.5rem; }
    header #intro #intro-text h1 {
      font-size: 3rem;
      line-height: 4rem; }
      header #intro #intro-text h1 .highlight {
        font-weight: 600; }
    header #intro #intro-text p {
      font-size: 2rem; }
  header #intro a#view-work {
    display: flex;
    background: transparent;
    color: #fff;
    text-decoration: none;
    font-size: 1.25rem;
    font-family: inherit;
    border: 2px solid #fff;
    padding: 12px 20px;
    cursor: pointer;
    transition: 0.5s all ease; }
    header #intro a#view-work i {
      margin-left: 10px;
      font-size: 1.15rem !important;
      line-height: 1.5rem;
      transition: 0.5s all ease; }
    header #intro a#view-work:hover, header #intro a#view-work:focus {
      background-color: #02b802;
      border-color: #02b802;
      outline: none; }
      header #intro a#view-work:hover i, header #intro a#view-work:focus i {
        transform: rotate(90deg); }

.inner {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px; }

.slick-slide {
  outline: none; }

nav {
  justify-content: flex-start;
  background-color: #1B242F;
  border-bottom: 3px solid #02b8b5; }
  nav #nav-inner {
    width: 100%;
    max-width: 1200px; }
    nav #nav-inner ul {
      display: flex;
      flex-direction: row;
      list-style-type: none;
      align-self: flex-start; }
      nav #nav-inner ul li {
        margin: 15px 0;
        max-width: 100px; }
        nav #nav-inner ul li a {
          color: #fff;
          text-decoration: none;
          padding: 15px 25px;
          transition: 0.5s color ease; }
          nav #nav-inner ul li a:hover {
            color: #02b802; }
        nav #nav-inner ul li a.active {
          color: #02b802; }

#about {
  color: #fff; }
  #about .hex-outer {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 100px; }
    #about .hex-outer .hex-wrap {
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
      margin: 0 15px;
      align-items: center;
      flex: 1 0 25%; }
      #about .hex-outer .hex-wrap .hexagon {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        width: 60px;
        font-size: 3rem;
        background-color: #b8025d; }
        #about .hex-outer .hex-wrap .hexagon:before, #about .hex-outer .hex-wrap .hexagon:after {
          position: absolute;
          top: 0;
          right: -30px;
          content: '';
          border-top: 50px solid transparent;
          border-bottom: 50px solid transparent;
          border-left: 30px solid #b8025d;
          width: 0;
          height: 0; }
        #about .hex-outer .hex-wrap .hexagon:after {
          left: -30px;
          border-left: none;
          border-right: 30px solid #b8025d; }
  #about #about-main {
    display: flex; }
    #about #about-main > div {
      width: 50%; }
    #about #about-main #short-bio strong,
    #about #about-main #short-bio p {
      margin-bottom: 15px; }
    #about #about-main ul {
      display: flex;
      flex-direction: row;
      list-style-type: none;
      align-self: flex-start;
      flex-wrap: wrap; }
      #about #about-main ul li {
        background-color: #02b8b5;
        font-weight: 600;
        padding: 5px;
        margin: 5px;
        margin-left: 0; }
  #about span {
    color: #616161; }
    #about span strong {
      display: block;
      font-size: 1.5rem;
      margin: 15px 0 5px 0; }
    #about span a {
      color: #02b8b5;
      text-decoration: none; }
      #about span a:hover {
        color: #02b802; }
  #about #my-skillset {
    margin-left: 50px; }
    #about #my-skillset .skill-wrapper:last-child button {
      border: none; }
    #about #my-skillset .skill-wrapper.expanded {
      margin-bottom: 15px; }
      #about #my-skillset .skill-wrapper.expanded button {
        color: #fff;
        background-color: #02b802;
        border-bottom: 1px solid #02b802; }
        #about #my-skillset .skill-wrapper.expanded button i {
          transform: rotate(90deg); }
      #about #my-skillset .skill-wrapper.expanded ul {
        margin-top: 10px;
        max-height: 300px; }
    #about #my-skillset button {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 10px;
      font-weight: 600;
      color: #616161;
      border-bottom: 1px solid #e4e4e4; }
      #about #my-skillset button i {
        margin-left: 10px;
        transition: 0.5s transform ease; }
      #about #my-skillset button:hover {
        color: #fff;
        background-color: #02b802;
        border-bottom: 1px solid #02b802; }
    #about #my-skillset ul {
      max-height: 0;
      overflow: hidden;
      transition: 0.5s all ease; }
      #about #my-skillset ul li {
        cursor: default; }
        #about #my-skillset ul li:hover {
          background-color: #02b802; }

#portfolio {
  background-color: #f5f5f5; }
  #portfolio #portfolio-inner {
    flex-direction: row;
    flex-wrap: wrap; }
    #portfolio #portfolio-inner #portfolio-thumbs {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center; }
    #portfolio #portfolio-inner .portfolio-single-wrapper {
      position: relative;
      color: #252934;
      /*temp*/
      position: relative;
      color: #252934;
      width: 400px;
      height: 300px; }
      #portfolio #portfolio-inner .portfolio-single-wrapper:hover .overlay {
        opacity: 1; }
      #portfolio #portfolio-inner .portfolio-single-wrapper .overlay {
        position: absolute;
        top: 0;
        left: 0;
        background-color: white;
        z-index: 2;
        width: 100%;
        height: 300px;
        transition: 0.5s opacity ease;
        opacity: 0;
        text-align: center; }
        #portfolio #portfolio-inner .portfolio-single-wrapper .overlay:hover .description {
          top: 25%; }
        #portfolio #portfolio-inner .portfolio-single-wrapper .overlay:hover .learn-more-link {
          bottom: 25%; }
        #portfolio #portfolio-inner .portfolio-single-wrapper .overlay > div {
          position: absolute;
          display: block;
          width: 100%; }
        #portfolio #portfolio-inner .portfolio-single-wrapper .overlay .description {
          top: 0;
          transition: 0.5s top ease;
          font-size: 1.5rem; }
          #portfolio #portfolio-inner .portfolio-single-wrapper .overlay .description span {
            color: #b8025d;
            font-size: 1.15rem; }
        #portfolio #portfolio-inner .portfolio-single-wrapper .overlay .learn-more-link {
          bottom: 0;
          transition: 0.5s bottom ease; }
          #portfolio #portfolio-inner .portfolio-single-wrapper .overlay .learn-more-link button {
            display: block;
            margin: 0 auto;
            width: 180px;
            color: #252934;
            font-size: 1.25rem;
            font-family: inherit;
            border: 2px solid #b8025d;
            padding: 8px 16px;
            cursor: pointer;
            transition: 0.5s all ease; }
            #portfolio #portfolio-inner .portfolio-single-wrapper .overlay .learn-more-link button:hover, #portfolio #portfolio-inner .portfolio-single-wrapper .overlay .learn-more-link button:focus {
              background-color: #b8025d;
              border-color: #b8025d;
              color: #fff;
              outline: none; }
      #portfolio #portfolio-inner .portfolio-single-wrapper img {
        width: 400px;
        height: 300px; }

.project-overlay {
  visibility: hidden;
  opacity: 0;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  z-index: 99;
  transition: all 0.5s ease; }
  .project-overlay.visible {
    visibility: visible;
    opacity: 1; }
  .project-overlay .project-inner {
    position: relative;
    width: 50%;
    max-width: 713px;
    margin: 0 auto;
    background-color: #fff; }
    .project-overlay .project-inner .slick-slide {
      outline: none;
      border-bottom: 1px solid #b8025d; }
    .project-overlay .project-inner .project-text {
      margin: 1rem; }
      .project-overlay .project-inner .project-text h2 {
        font-size: 1.5rem;
        font-weight: 600; }
      .project-overlay .project-inner .project-text h3 {
        color: #c0c0c0;
        font-weight: 600;
        padding-bottom: 1rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
      .project-overlay .project-inner .project-text p {
        margin-top: 1rem; }
    .project-overlay .project-inner .carousel-nav {
      margin-top: -2.25rem;
      position: absolute;
      width: 100%; }
      .project-overlay .project-inner .carousel-nav .prev,
      .project-overlay .project-inner .carousel-nav .next {
        color: #fff;
        background: rgba(0, 0, 0, 0.5);
        font-size: 2rem; }
      .project-overlay .project-inner .carousel-nav .prev {
        float: left; }
      .project-overlay .project-inner .carousel-nav .next {
        float: right; }
    .project-overlay .project-inner .project-nav {
      display: flex;
      justify-content: space-between;
      padding: 10px;
      box-sizing: border-box;
      width: 100%; }
      .project-overlay .project-inner .project-nav a {
        display: block;
        text-decoration: none;
        background-color: #b8025d;
        color: #fff;
        font-size: 1rem;
        font-family: inherit;
        padding: 10px;
        cursor: pointer;
        transition: 0.5s all ease; }
        .project-overlay .project-inner .project-nav a:hover, .project-overlay .project-inner .project-nav a:focus {
          background-color: #fff;
          color: #b8025d;
          outline: none; }
      .project-overlay .project-inner .project-nav .close {
        opacity: 0.7;
        font-size: 2rem;
        transition: all 0.5s ease; }
        .project-overlay .project-inner .project-nav .close:hover {
          cursor: pointer;
          transform: rotate(90deg);
          opacity: 1; }

#testimonials {
  color: #252934; }
  #testimonials ul {
    list-style-type: none; }
    #testimonials ul hr {
      height: 1px;
      background-color: #02b8b5;
      margin: 1rem 0; }
    #testimonials ul span {
      text-align: right;
      display: block; }
      #testimonials ul span a {
        color: #02b8b5;
        text-decoration: none; }

footer {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  background-color: #252934; }
  footer #footer-inner a#scroll-top {
    position: absolute;
    top: -25px;
    left: 50%;
    margin-left: -25px;
    padding: 0 0.25rem;
    font-size: 2.75rem;
    color: #fff;
    background-color: #02b8b5;
    text-decoration: none; }
    footer #footer-inner a#scroll-top:hover, footer #footer-inner a#scroll-top:focus {
      background-color: #02b802; }
  footer #footer-inner #social-wrap {
    display: flex;
    margin: 75px 0 50px;
    flex-direction: row;
    list-style-type: none;
    align-self: flex-start; }
    footer #footer-inner #social-wrap a {
      font-size: 1.75rem;
      color: #fff;
      text-decoration: none;
      padding: 15px 25px;
      background-color: #2e333a;
      margin: 10px;
      transition: 0.5s all ease; }
      footer #footer-inner #social-wrap a:hover, footer #footer-inner #social-wrap a:focus {
        background-color: #02b802; }
  footer #footer-inner #mine {
    color: #67696d;
    margin-bottom: 50px; }
    footer #footer-inner #mine span {
      color: #b8025d; }

/***********************
* Mobile Styles
************************/
@media (max-width: 1024px) {
  #portfolio {
    padding: 40px; }
    #portfolio .project-overlay .project-inner {
      width: 75%; } }
@media (max-width: 900px) {
  #about {
    padding: 40px; }
    #about .hex-outer {
      flex-wrap: wrap;
      margin-bottom: 0; }
      #about .hex-outer .hex-wrap {
        margin: 0 10px 30px;
        flex: 0 0 45%; }
        #about .hex-outer .hex-wrap span strong {
          margin: 5px 0 0 0; }
    #about #about-main {
      flex-flow: column wrap; }
      #about #about-main > div {
        flex: 0 0 100%;
        width: 100%; }
      #about #about-main #short-bio {
        margin: 25px 0; }
      #about #about-main #my-skillset {
        margin: 0; } }
@media (max-width: 720px) {
  #portfolio {
    padding: 20px; }
    #portfolio .project-overlay .project-inner {
      width: 90%; } }
@media (max-width: 450px) {
  section {
    padding: 40px; }

  nav #nav-inner ul li a {
    padding: 15px 20px; }

  #about #my-skillset button {
    text-align: left; }

  #testimonials ul span {
    text-align: center; } }

/*# sourceMappingURL=style.css.map */
