<section id="about" inViewport (inViewportAction)="onView($event)">
    <div class="inner">
        <div class="heading">
            <h2>ABOUT</h2>
            <div class="line"></div>
        </div>
        <div class="hex-outer">
            <div *ngFor="let h of this.highlights" class="hex-wrap">
                <div class="hexagon">
                    <i class="mdi {{h.icon}}"></i>
                </div>
                <span class="hex-title"><strong>{{h.title}}</strong></span>
                <span>{{h.description}}</span>
            </div>
        </div>
        <div id="about-main">
            <div id="short-bio">
                <img src="../../assets/images/me-hex.png" alt="My cartoonized profile picture"/>
                <span><strong>Who is this guy?</strong></span>
                <span><p>I'm a full-stack developer at the <a href="https://naic.org" target="_blank">NAIC</a> in Kansas City, MO.</p>
                <p>I'm passionate about providing the best possible product<br>through clear communication, adhering to best practices,<br>and a strong dedication to clean, concise code.</p></span>
                <span><p><a href="#contact" (click)="smoothScroll($event)">Let's make something special.</a></p></span>
            </div>
            <div id="my-skillset">
                <div class="skill-wrapper" *ngIf="skills.frontend">
                    <button #frontend (click)="expandSection(frontend)">Front-end Development <i class="mdi mdi-arrow-right"></i></button>
                    <ul>
                        <li *ngFor="let skill of skills.frontend">{{skill}}</li>
                    </ul>
                </div>
                <div class="skill-wrapper" *ngIf="skills.backend">
                    <button #backend (click)="expandSection(backend)">Back-end Development <i class="mdi mdi-arrow-right"></i></button>
                    <ul>
                        <li *ngFor="let skill of skills.backend">{{skill}}</li>
                    </ul>
                </div>
                <div class="skill-wrapper" *ngIf="skills.cms">
                    <button #cms (click)="expandSection(cms)">Content Management Systems <i class="mdi mdi-arrow-right"></i></button>
                    <ul>
                        <li *ngFor="let skill of skills.cms">{{skill}}</li>
                    </ul>
                </div>
                <div class="skill-wrapper" *ngIf="skills.admin">
                    <button #admin (click)="expandSection(admin)">Web/System Administration <i class="mdi mdi-arrow-right"></i></button>
                    <ul>                                        
                        <li *ngFor="let skill of skills.admin">{{skill}}</li>
                    </ul>
                </div>
                <div class="skill-wrapper" *ngIf="skills.other">
                    <button #other (click)="expandSection(other)">Other <i class="mdi mdi-arrow-right"></i></button>
                    <ul>
                        <li *ngFor="let skill of skills.other">{{skill}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>