$primary: #02b802;
$secondary: #02b8b5;
$purple: #b8025d;
$slate: #252934;
$gray: #616161;

@mixin accordion-button {
    color: #fff;
    background-color: $primary;
    border-bottom: 1px solid $primary; 
}

#about {
    padding: 80px;
    text-align: center;
    .hex-outer {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 100px;
        .hex-wrap {
            display: flex;
            text-align: center;
            justify-content: space-evenly;
            flex-direction: column;
            margin: 0 15px;
            align-items: center;
            flex: 0 0 25%;
            .hexagon {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100px;
                width: 60px;
                font-size: 3rem;
                background-color: $purple;
                i {
                    color: #fff;
                    width: 48px; 
                    height: 56px;
                    line-height: 56px;
                }
                
                &:before,
                &:after {
                    position: absolute;
                    top: 0;
                    right: -30px;
                    content: '';
                    border-top: 50px solid transparent;
                    border-bottom: 50px solid transparent;
                    border-left: 30px solid $purple;
                    width: 0;
                    height: 0;
                }
                &:after {
                    left: -30px;
                    border-left: none;
                    border-right: 30px solid $purple;
                }
            }
        }
    }
    #about-main {
        display: flex;
        > div {
            width: 50%;
        }
        #short-bio {
            strong,
            p {
                margin-bottom: 15px;
            }
        }
        ul {
            display: flex;  // duplicate  
            flex-direction: row;
            list-style-type: none;
            align-self: flex-start;
            flex-wrap: wrap;
            li {
                background-color: $secondary;
                font-weight: 600;
                padding: 5px;
                margin: 5px;
                margin-left: 0;
            }
        }
    }
    span {
        color: $gray;
        strong {
            display: block;
            font-size: 1.5rem;
            margin: 15px 0 5px 0;
        }
        a {
            color: $secondary;
            text-decoration: none;
            &:hover {
                color: $primary;
            }
        }
    }
    #my-skillset {
        margin-left: 50px;
        .skill-wrapper {
            &:last-child {
                button {
                    border: none;
                }                
            }
        }
        .skill-wrapper.expanded {
            margin-bottom: 15px;
            button {
                @include accordion-button;
                i {
                    transform: rotate(90deg);
                    color: #fff;
                }
            }
            ul {
                margin-top: 10px;
                max-height: 300px;
                
            }
        }
        button {
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding: 10px;
            font-weight: 600;
            color: #616161;
            border-bottom: 1px solid #e4e4e4;
            outline: none;
            i {
                margin-left: 10px;
                transition: 0.5s transform ease;
            }
            &:focus, 
            &:hover {                
                @include accordion-button;
            }
        }
        ul {
            max-height: 0;
            overflow: hidden;
            transition: 0.5s all ease;
            li {
                cursor: default;
                color: #fff;
                &:hover {
                    background-color: $primary;
                }
            }
        }
    }
}

@media (max-width: 900px) {
    #about {
        padding: 40px;
        .hex-outer {
            flex-wrap: wrap;
            margin-bottom: 0;
            .hex-wrap {
                margin: 0 10px 30px;
                flex: 0 0 45%;
                span {
                    strong {
                        margin: 5px 0 0 0;
                    }
                }
            }
        }
        #about-main {
            flex-flow: column wrap;  
            > div {
                flex: 0 0 100%;
                width: 100%;
            }
            #short-bio {
                margin: 25px 0;
            }
            #my-skillset {
                margin: 0;
            }
        }
    }    
}