
$black: #1B242F;
$primary: #02b802;
$secondary: #02b8b5;

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
}


nav {
    justify-content: flex-start;
    background-color: $black;
    border-bottom: 3px solid $secondary;
    #nav-inner {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        ul {
            display: flex;  // duplicate  
            flex-direction: row;
            list-style-type: none;
            align-self: flex-start;
            margin: 0;
            li {
                text-align: left;
                margin: 15px 0;
                max-width: 100px;
                a {
                    color: #fff;
                    text-decoration: none;
                    padding: 15px 25px;
                    transition: 0.5s color ease;
                    &:hover {
                        color: $primary;
                    }
                }
            }
            li.active {
                a {
                    color: $primary;
                }
            }
        }
    }    
}