<section id="testimonials">
    <ngb-carousel *ngIf="testimonials" 
                  [showNavigationArrows]="true" 
                  [showNavigationIndicators]="false"
                  [pauseOnHover]="true">
        <ng-template ngbSlide *ngFor="let testimonial of testimonials">
            <p>{{testimonial.text}}</p>
            <hr>
            <span class="comment-author">- {{testimonial.commenter}}, {{testimonial.title}} of <a href="{{testimonial.url}}" target="_blank" class="testi-source">{{testimonial.company}}</a></span>
        </ng-template>
      </ngb-carousel>
</section>

<footer id="contact">
    <div id="footer-inner">
        <a id="scroll-top" href="#home" (click)="smoothScroll($event)"><mat-icon svgIcon="chevron-double-up"></mat-icon></a>
        <div id="social-wrap">
            <a href='https://github.com/stevewhitmore' target='_blank'><mat-icon svgIcon="github-circle"></mat-icon></a>
            <a href='https://www.linkedin.com/in/steve-whitmore' target='_blank'><mat-icon svgIcon="linkedin"></mat-icon></a>
            <a href='tel:19702379599' target='_blank'><mat-icon svgIcon="phone-outgoing"></mat-icon></a>
            <a href='mailto:steve@swhitmore.com'><mat-icon svgIcon="email-outline"></mat-icon></a>
        </div>
        <div id="mine">Steve Whitmore <span>&copy;2018</span></div>
    </div>    
</footer>