$primary: #02b802;
$secondary: #02b8b5;
$purple: #b8025d;
$slate: #252934;

#testimonials {
    color: $slate;
    min-height: 300px;
    padding: 80px 120px;
    .carousel {
        outline: none;
    }
    p {
        text-align: left;
    }
    span {
        float: right;
    }
    a {
        text-decoration: none;
        &:hover {
            color: $primary;
        }
    }
}
.carousel-item {
    opacity: 0;
    transition: 0.5s opacity ease;
}
.carousel-item.active {
    visibility: 1;
}

footer {
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    background-color: $slate;
    #footer-inner {
        a#scroll-top {
            position: absolute;
            top: -25px;
            left: 50%;
            margin-left: -25px;
            padding: 0 0.5rem;
            font-size: 2.5rem;
            color: #fff;
            background-color: $secondary;
            text-decoration: none;
            &:hover,
            &:focus {
                background-color: $primary;
            }
        }
        #social-wrap { //duplicate
            display: flex;
            margin: 75px 0 50px;
            flex-direction: row;
            list-style-type: none;
            align-self: flex-start;
            a {
                font-size: 1.75rem;
                color: #fff;
                text-decoration: none;
                padding: 15px 25px;
                background-color: #2e333a;
                margin: 10px;
                transition: 0.5s all ease;
                &:hover,
                &:focus {
                    background-color: $primary;
                }
            }
        }
        #mine {
            color: #67696d;
            margin-bottom: 50px;
            text-align: center;
            span {
                color: $purple;
            }
        }
    }
}
