<section id="testimonials">
    <ul>
        <li class="testi-single">
            <p><q cite="http://www.suburban-bees.com/">My blogging partner Erin and I started working with Steve right after starting our blog. 
                Technology is not a natural fit for either of us and Steve was instrumental in taking over the more technically involved aspects of the site & Wordpress. 
                Best of all he created easy to understand videos that allowed us to figure out how to take over many of the tasks ourselves. 
                We always found Steve extremely easy and pleasant to work with, very responsive to our needs, 
                always willing to explain any aspect of his work and absolutely scrupulous in his work. 
                Steve is a highly motivated, hard working individual and I don't hesitate to give him my highest recommendation.</q></p>
            <hr>
            <span>- Tricia, co-founder of <a href="http://www.suburban-bees.com/" target="_blank" class="testi-source">Suburban B's</a></span>
        </li>
        <!-- <li class="testi-single">
            <p><q cite="http://visfire.com/">Steve has assisted our team on numerous complex projects where a straightforward answer wasn’t always clear. He always seems able to find an outside perspective and a creative solution. He excels in front end development, responsive websites, content management systems, and customer service.  Many developers lack the communication skills to convey technical tasks to the client or management, but Steve has always excelled in this area. He also takes direction well and is self motivated.</q></p>
            <span>- Cory, co-owner of <a href="http://visfire.com/" target="_blank" class="testi-source">VisFire</a></span>
        </li>
        <li class="testi-single">
            <p><q cite="http://www.cs.colostate.edu/~wilcox/">Steve was in my sophomore computer science course during Spring 2016, and did very well, receiving an A- letter grade. This course combines computer architecture, combinational and sequential logic, state machines, assembly programming, numerical representation, and C programming. The course is traditionally very challenging for sophomore students, and many do not pass the first time through. Steve completed all assignments with an average of over 98.5%, thus showing a high degree of diligence. He also had perfect attendance on all labs, quizzes, and exams. In my opinion Steve is easily is in the top 20% of the students I see, and I’m delighted to give him a recommendation.</q></p>
            <span>- Dr. Wilcox, professor at <a href="http://www.cs.colostate.edu/~wilcox/" target="_blank" class="testi-source">Colorado State University</a></span>
        </li> -->
    </ul>
</section>

<footer id="contact">
    <div id="footer-inner">
        <a id="scroll-top" href="#home" (click)="smoothScroll($event)"><mat-icon svgIcon="chevron-double-up"></mat-icon></a>
        <div id="social-wrap">
            <a href='https://github.com/stevewhitmore' target='_blank'><mat-icon svgIcon="github-circle"></mat-icon></a>
            <a href='https://www.linkedin.com/in/steve-whitmore' target='_blank'><mat-icon svgIcon="linkedin"></mat-icon></a>
            <a href='tel:19702379599' target='_blank'><mat-icon svgIcon="phone-outgoing"></mat-icon></a>
            <a href='mailto:steve@swhitmore.com'><mat-icon svgIcon="email-outline"></mat-icon></a>
        </div>
        <div id="mine">Steve Whitmore <span>&copy;2018</span></div>
    </div>    
</footer>