/**
	Author: Steve Whitmore
	URL: http://swhitmore.com
**/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    position: relative;
}
html,
body {
    width: 100%;
    height: 100%;
}
body {
    font-family: 'Open Sans', sans-serif;
    display: block;
}
h1 {
    font-weight: 200;
    text-align: center;
    font-size: 60px;
    margin: 20px 0;
}
a {
    color: #fff;
}
a, a:hover, a:link, a:visited {
    text-decoration: none;
}

#wrap {
    width: 100%;
    min-height: 100%;
    background: #5A8AC9;
    color: #fff;
}

.main-content {
    cursor: default;
    max-width: 500px;
    margin: 0 auto;
    padding: 7em 0;
    height: auto;
}
.main-content p {
    margin: 0 auto;
    width: 375px;
    text-align: center;
    font-size: 18px;
    line-height: 26px;
}
.me-image {
	margin: 0 auto;
	width: 200px;
}
.me-image img {
	margin: 0 auto;
	max-width: 100%;
	border-radius: 100px;
}

#lower {
    position: absolute;
    bottom: 20px;
    right: inherit;
    margin: 0px;
    width: 100%;
    height: auto;
    padding: 0px;
    text-align: center;
}
#lower #social-wrap {
    float: right;
    margin-right: 20px;
    width: 165px;
}
#lower a {
    color: #4a6588;
    position: relative;
    display: inline-block;
    margin: 0px 5px;
    width: auto;
    height: auto;
    padding: 0px;
}
i.fa {
    font-size: 3em;
}

/* Desktop styles only */
@media screen and (min-width:1024px) {
	a:hover,
    #lower a:hover,
    span#down:hover {
	    color: #f18851;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
	}
    .proj-title {
        display: block;
    }
    .proj-thumb:hover .proj-title {
        opacity: 0;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    #prev:hover img,
    #next:hover img {
        opacity: 1;
    }
    span#close:hover {
        -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.8);
        -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.8);
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.8);
    }
}
@media screen and (max-width:900px) {
    .main-content {
        padding-top: 4em;
    }
    #lower {
        position: relative;
        bottom: inherit;
        right: inherit;
        padding: 0 0 50px 0;
    }
    #lower #social-wrap {
        float: none;
        margin: 50px auto 0;
    }
    span#down {
        margin: 70px 0 0;
    }
    .pop-inner {
        margin: 20px auto;
        height: auto;
    }
}
@media screen and (max-width:850px) {
    .project {
        width: 50%;
    }
    #portfolio .pop-inner h2 {
        margin: 5px 0;
        font-size: 20px;
    }
    #pop-content {
        padding: 0 15px;
        font-size: 14px;
    }
    .pop-inner {
        height: 325px;
    }
    #pop-content span {
        margin-left: 0em;
    }
    #pop-content p {
        padding: 0;
    }
    #pop-content ul {
        margin-left: 1em;
    }
    #prev img {
        left: -23px;
    }
    #next img {
        right: -23px;
    }
    section#testimonials {
        height: 350px;
    }
}
@media screen and (max-width:650px) {
    section#testimonials p {
        padding-top: 0;
    }
}
@media screen and (max-width:600px) {
    section#testimonials {
        height: 450px;
    }
}
@media screen and (max-width:500px) {
    .project {
        float: none;
        margin: 0 auto;
        width: 70%;
    }
    .pop-inner {
        height: auto;
    }
}
@media screen and (max-width:430px) {
	h1 {
		font-size: 44px;
		margin: 25px 0;
	}
    .main-content p {
        width: 338px;
        font-size: 16px;
    }
    .project {
        width: 95%;
    }
    .pop-inner {
        margin: 10px auto;
    }
    section#testimonials {
        height: 500px;
    }
}
@media screen and (max-width:320px) {
	section {
		padding: 50px 10px;
	}
	.me-image {
		width: 160px;
	}
	h1 {
		font-size: 41px;
	}
}
